body {
	font-family: Georgia;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
}

.intro {
	background-color: #ccc;
	font-size: 0.75em;
	color: white;
	padding: 0.5em 15em;
}

a {
	text-decoration: none;
	color: gray;
}

.year_2014,
.year_2015,
.year_2016,
.programs {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	margin: 1em 0;
}

.programs {
	background-color: #fec90b;
}

.year_2014 {
	background-color: #7bb819;
}

.year_2015 {
	background-color: #6ec9dc;
}

.year_2016 {
	background-color: #e01563;
}

.year {
	flex-basis: 5%;
	padding: 1em 2em;
	font-size: 2em;
	color: white;
}

.mooc {
	flex-basis: 20%;
	padding: 1em 2em;
}

.verified {
	color: white;
}

footer {
	color: #ccc;
}
