body {
	font-family: Georgia;
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 40px;
}

.intro {
	background-color: #ccc;
	text-align: center;
	font-size: 0.75em;
	color: white;
	padding: 0.5em 15em;
}

.year_2014,
.year_2015,
.year_2016,
.specializations {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	justify-content: space-between;
	margin: 1em 0;
}

.specializations {
	background-color: #e01563;
}

.year_2014 {
	background-color: #e8a820;
}

.year_2015 {
	background-color: #6ec9dc;
}

.year_2016 {
	background-color: #3eb991;
}

.year {
	flex-basis: 5%;
	padding: 1em 2em;
}

.mooc {
	flex-basis: 20%;
	padding: 1em 2em;
}